.container {
    min-width: 200px;
    height: 100vh;
    background-color: rgb(250, 247, 247);

}

.LeftBlock__info {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LeftBlock__info__up img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.LeftBlock__info__up__settings {
    width: 47px;
    height: 47px;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 175px;
    left: 110px;
    box-shadow: 0 0 15px 3px rgba(24, 24, 24, 0.3);
    cursor: pointer;
}

.LeftBlock__info__up__settings img {
    width: 30px;
    height: 30px;
}

.LeftBlock__info__down {
    margin-top: 40px;
}

.LeftBlock__info__down ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.LeftBlock__info__down ul li a {
    color: #36454d;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
}

.LeftBlock__info__down ul li a:hover, .selected {
    border-bottom: 3px solid green;
}